.vscode/
*.o
*.wav
*.vad
*.lab
*.f0ref
*.d
*.f0ref
*.f0
*.a
*.list
*.users
*.test
*.train
*.gmm
*.mcp

practica3/prj/html
practica3/bin/
practica3/lib/
practica3/audios
practica4/bin/
practica4/lib/
*.col
practica4/audios/
practica4/speecon/
practica4/temp/